<div class="builder-wrapper">
  <h2 class="title">{{ isEditMode ? 'Editar producto' : 'Crear nuevo producto' }}</h2>

  <form [formGroup]="builderForm" class="builder-form">
    
    <!-- Paso 1: Datos del producto -->
    <div *ngIf="step === 1" class="step">
      <h3>Paso 1: Datos del producto</h3>

      <mat-form-field appearance="fill">
        <mat-label>Nombre *</mat-label>
        <input matInput formControlName="name" type="text" required />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Descripción</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>

      <!-- <mat-form-field appearance="fill">
        <mat-label>Categoría *</mat-label>
        <mat-select formControlName="categoryId">
          <mat-option [value]="null" disabled>Seleccionar categoría</mat-option>
          <mat-option *ngFor="let cat of categories" [value]="cat.id">{{ cat.name }}</mat-option>
        </mat-select>
      </mat-form-field> -->
      <mat-form-field appearance="fill">
        <mat-label>Seleccionar categoría</mat-label>
        <input
          type="text"
          matInput
          [formControl]="categoryControl"
          [matAutocomplete]="auto" />
      
        <mat-autocomplete #auto="matAutocomplete"
                          [displayWith]="displayCategory"
                          (optionSelected)="selectCategory($event.option.value)">
          <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
            {{ category.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      
      <div class="actions">
        <button mat-stroked-button color="warn" type="button" routerLink="/products">
          <mat-icon>cancel</mat-icon> Cancelar
        </button>
        <button mat-raised-button color="primary" type="button" (click)="nextStep()">Siguiente</button>
      </div>
    </div>

    <!-- Paso 2: Componentes -->
    <div *ngIf="step === 2" class="step">
      <h3>Paso 2: Componentes</h3>

      <div class="inline-form" [formGroup]="componentForm">
        <mat-form-field appearance="fill">
          <mat-label>Componente</mat-label>
          <mat-select formControlName="componentId">
            <mat-option [value]="null" disabled>Seleccionar componente</mat-option>
            <mat-option *ngFor="let comp of availableComponents" [value]="comp.id">{{ comp.name }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Cantidad</mat-label>
          <input matInput type="number" formControlName="quantity" />
        </mat-form-field>

        <button mat-raised-button color="primary" type="button" (click)="addComponent()">
          <mat-icon>add</mat-icon> Agregar
        </button>
      </div>

      <div formArrayName="components">
        <mat-list>
          <mat-list-item *ngFor="let comp of components.controls; let i = index" [formGroupName]="i">
            <div class="item-content">
              <span>
                {{ comp.get('componentName')?.value }}
                ({{ getComponentUnitAndCost(comp.get('componentId')?.value) }})
                - {{ comp.get('quantity')?.value }}  {{ comp.get('unit')?.value }}
                →
                {{ getComponentTotalLineCost(comp.get('componentId')?.value, comp.get('quantity')?.value) }}
              </span>
              
              <button mat-icon-button color="warn" (click)="removeComponent(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
      <app-summary-footer
      [showUnit]="false"
      [showTreatment]="false"
      [totalFinal]="productTotalCost"
      [insumos]="componentTotalCost"
      [manoObra]="laborTotalCost"
      [showUnit]="false"
      [showBase]="false"
      [showUnitFinal]="false"
      >
    </app-summary-footer>
      <div class="actions">
        <button mat-stroked-button color="warn" type="button" (click)="prevStep()">Volver</button>
        <button mat-raised-button color="primary" type="button" (click)="nextStep()">Siguiente</button>
      </div>
    </div>

    <!-- Paso 3: Mano de Obra -->
    <div *ngIf="step === 3" class="step">
      <h3>Paso 3: Mano de obra</h3>

      <div class="inline-form" [formGroup]="laborForm">
        <mat-form-field appearance="fill">
          <mat-label>Tipo</mat-label>
          <mat-select formControlName="laborTypeId">
            <mat-option [value]="null" disabled>Seleccionar tipo</mat-option>
            <mat-option *ngFor="let type of laborTypes" [value]="type.id">{{ type.name }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Horas</mat-label>
          <input matInput type="number" formControlName="hours" />
        </mat-form-field>

        <button mat-raised-button color="primary" type="button" (click)="addLaborCost()">
          <mat-icon>add</mat-icon> Agregar
        </button>
      </div>

      <div formArrayName="laborCosts">
        <mat-list>
          <mat-list-item *ngFor="let labor of laborCosts.controls; let i = index" [formGroupName]="i">
            <div class="item-content">
              <span>
                {{ labor.get('quantity')?.value }} h
                →
                {{ getLaborLineCostDetail(labor.get('laborTypeId')?.value, labor.get('quantity')?.value) }}
              </span>
              
              <button mat-icon-button color="warn" (click)="removeLaborCost(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
      <app-summary-footer
      [showUnit]="false"
      [showTreatment]="false"
      [totalFinal]="productTotalCost"
      [insumos]="componentTotalCost"
      [manoObra]="laborTotalCost"
      [showUnit]="false"
      [showBase]="false"
      [showUnitFinal]="false"
      >
    </app-summary-footer>
    
      <div class="actions">
        <button mat-stroked-button color="warn" type="button" (click)="prevStep()">Volver</button>
        <button mat-raised-button color="primary" type="button" (click)="nextStep()">Siguiente</button>
      </div>
    </div>

    <!-- Paso 4: Resumen -->
    <div *ngIf="step === 4" class="step">
      <h3>Paso 4: Resumen</h3>

      <mat-card class="summary-card">
        <mat-card-title>Datos del producto</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          <p><strong>Nombre:</strong> {{ builderForm.value.name }}</p>
          <p><strong>Descripción:</strong> {{ builderForm.value.description }}</p>
          <p><strong>Categoría:</strong> {{ getCategoryName(builderForm.value.categoryId) }}</p>
        </mat-card-content>
      </mat-card>

      <mat-card class="summary-card">
        <mat-card-header>
          <mat-icon mat-card-avatar color="accent">widgets</mat-icon>
          <mat-card-title>Componentes utilizados</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div *ngIf="summaryComponents.length; else noComponents">
            <div class="summary-item" *ngFor="let comp of summaryComponents">
              <div class="line-title">{{ comp.componentName }} ({{ comp.quantity }} {{ comp.unit }})</div>
              <div class="line-sub">
                <span>Precio unitario: {{ getUnitCost(comp.componentId) }}</span> |
                <span>Total: {{ getComponentTotalLineCost(comp.componentId, comp.quantity) }}</span>
              </div>
            </div>
          </div>
          <ng-template #noComponents>
            <p class="text-muted">No se agregaron componentes.</p>
          </ng-template>
        </mat-card-content>
      </mat-card>
      
      
      <mat-card class="summary-card">
        <mat-card-header>
          <mat-icon mat-card-avatar color="accent">construction</mat-icon>
          <mat-card-title>Mano de obra</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div *ngIf="summaryLabor.length; else noLabor">
            <div class="summary-item" *ngFor="let labor of summaryLabor">
              <div class="line-title">{{ labor.laborTypeName }} ({{ labor.quantity }} h)</div>
              <div class="line-sub">
                <span>Costo por hora: {{ getHourlyCost(labor.laborTypeId) }}</span> |
                <span>Total: {{ getLaborLineCostDetail(labor.laborTypeId, labor.quantity) }}</span>
              </div>
            </div>
          </div>
          <ng-template #noLabor>
            <p class="text-muted">No se agregó mano de obra.</p>
          </ng-template>
        </mat-card-content>
      </mat-card>
      
      <mat-card class="summary-card">
        <mat-card-title>Resumen de Costos</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          <p><strong>Total componentes:</strong> {{ componentTotalCost | customCurrency   }}</p>
          <p><strong>Total mano de obra:</strong> {{ laborTotalCost | customCurrency  }}</p>
          <p><strong>Total del producto:</strong> <span class="highlight">{{ productTotalCost | customCurrency }}</span></p>
        </mat-card-content>
      </mat-card>

      <div class="actions">
        <button mat-stroked-button color="warn" type="button" (click)="prevStep()">Volver</button>
        <button mat-raised-button color="primary" type="button" (click)="submitProduct()"  [disabled]="isSaving">
          <mat-icon>check</mat-icon> Confirmar y guardar
        </button>
      </div>
    </div>
  </form>
</div>
