<h2 mat-dialog-title>{{ data ? 'Editar' : 'Nuevo' }} Producto</h2>

<form [formGroup]="productForm" (ngSubmit)="save()">
  <mat-dialog-content>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Categoría</mat-label>
      <mat-select formControlName="categoryId">
        <mat-option *ngFor="let cat of categories" [value]="cat.id">
          {{ cat.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="cancel()">Cancelar</button>
    <button mat-raised-button color="primary" type="submit">Guardar</button>
  </mat-dialog-actions>
</form>
